.elementor-4180 .elementor-element.elementor-element-51b32e5c>.elementor-element-populated {
    padding: 33px 40px 33px 40px;
}

.elementor-4180 .elementor-element.elementor-element-ea99791 .ct-heading .item--title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.elementor-4180 .elementor-element.elementor-element-ea99791 .ct-heading .item--sub-title {
    margin-bottom: 9px;
}

.elementor-4180 .elementor-element.elementor-element-7d155ec>.elementor-element-populated {
    padding: 33px 40px 33px 40px;
}

.elementor-4180 .elementor-element.elementor-element-e8af110 .ct-heading .item--title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.elementor-4180 .elementor-element.elementor-element-e8af110 .ct-heading .item--sub-title {
    margin-bottom: 9px;
}

.elementor-4180 .elementor-element.elementor-element-603cedea>.elementor-element-populated {
    padding: 33px 40px 33px 40px;
}

.elementor-4180 .elementor-element.elementor-element-cb8197e .ct-heading .item--title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.elementor-4180 .elementor-element.elementor-element-cb8197e .ct-heading .item--sub-title {
    margin-bottom: 9px;
}

.elementor-4180 .elementor-element.elementor-element-e36859>.elementor-element-populated {
    padding: 33px 40px 33px 40px;
}

.elementor-4180 .elementor-element.elementor-element-8ef7337 .ct-heading .item--title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.elementor-4180 .elementor-element.elementor-element-8ef7337 .ct-heading .item--sub-title {
    margin-bottom: 9px;
}